* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* updated the semantics of the header hierarchy to stylize each heading size as a whole h1-h4*/
h1 {
    display: inline-block;
    font-size: 48px;
}
h2 {
    margin-bottom: 20px;
    font-size: 36px;
  }
h3 {
      margin-bottom: 10px;
      text-align: center;
      }
h4 {
         font-size: 20px;
     }

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* moved the header class out of a <div> and into a <nav> */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Changed content class to wrapper. It holds the 3 main text sections */
.content-wrapper {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* repeating class for divs in the cotent wrapper that use the same styling */
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* condensed the img class to one instead of 3 styles */
.content img {
    max-height: 200px;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Changed benefit class to wrapper. It holds the 3 sub text sections */
.benefit-wrapper {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* repeating class for divs in the cotent wrapper that use the same styling */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/* condensed the img class to one instead of 3 styles */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* moved footer class into the <footer> */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


/* unused or repeated css elimated unused or repeated css elimated unused or repeated css elimated  */
